@import 'utils';

.fileType{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    
    input[type="text"]{
      flex : 0.1;
      margin-right: auto;
      margin-left: .3rem;
      width:2.5rem;
      height:2.5rem;
     border:1px solid white;
      border-radius:10px;
     font-size : 8pt;
     font-weight:bold;
     text-align:center;
     color : #233A3F;
     &:focus{
      outline: none !important;
      }
  }

  .uploadItemInfo{
    flex : 0.85;
    display: flex;
    flex-direction: column;
    width:100%;
    
    label{
      word-break:break-all;
      font-size : 10pt;
      margin-left:.2rem;
      margin-right:.2rem;
    }
  
    progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 180px;
        height: .3em;
        margin-top:.4em;
        border:0 none;
        background:rgb(231,238,250);
  
        &::-webkit-progress-bar {
            background: transparent;
        }  
        &::-webkit-progress-value {  
            border-radius: 12px;
            background: rgb(10,215,152);
            box-shadow: 2px 5px 7px 2px rgb(207,249,239);
          } 
  
        &::-moz-progress-bar{
  
        }
      }
  }
  
  .deleteItem{
    flex :0.05;
   // margin-left: auto;
    //padding-right: .3rem;
    width:10px;
    height: 10px;
  }

    }
 
 .fileType-blue{
   background:#ADD8E6;
 }
 
 .fileType-red{
   background-color : rgb(255,203,188);
 }
 
 .fileType-yellow{
   background-color : #FBE68B;
 }
 
 .fileType-green{
   background-color : #B2F99D;
 }
 
 
 
 