.nf-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 2rem;
  padding: 2rem;
  margin-right: auto;
  
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;

    p {
      font-size: 1.3rem;
      font-weight: normal;
      padding-top: 1rem;
    }
  }

  .btn {
    flex: 0.3;
    text-align: center;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
