@import '../../../styles/utils.scss';

.NoteToolBox{
   
    flex: 1;
    display: flex;
    flex-direction: column;
        
       .bar{
        min-height: 3rem;
        display: flex;
        background: $oc-blue-6;
        border-bottom:$oc-gray-4 solid 0.1rem;
            .btn{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                border-top-left-radius: 4px;
                border-top-right-radius: 20px;
                background-color:#eee;
                border-right: $oc-gray-5 solid 1px;
                color:#7B8585;
                transition:0.3s;
            }

            .btn:hover{
                background-color:$oc-yellow-1;
            }
            .btn.focused{
                color:#fff;
                background-color:$oc-yellow-7;
            }
        }

        .tool-page{
            flex: 1;
            display: flex;
           
            
        }
        

       
}