@import '../../../styles/utils.scss';

.comment-tool{
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7rem);

    .comment-list{
        display: flex;
        flex-direction: column;
		height: calc(100% - 60px);
		overflow-y: auto;
		box-sizing: border-box;
		background:  $oc-gray-1;
        padding: 10px 0;	

        .comment-template{
            width: 100%;
            margin-bottom: 10px;
        .comment{
           
            padding: 5px 20px;

            .message {
                padding: 10px;
                box-sizing: border-box;
                font-size: 12px;
                display: inline-block;
                font-weight: 600;
                max-width: 80%;
                line-height: 1.4;
                border-radius: 3px;
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;                
            }
            
            &--them {
                .message {
                    background: white;
                    box-shadow: 0 5px 10px $oc-gray-4;
                    color: $oc-gray-9;
                }
                
            }
            
            &--you {
                justify-content: flex-end;
                display: flex;
                
    
                .message {
                    background: $oc-blue-8;
                    box-shadow: 0 5px 10px $oc-gray-4;
                    color: white;
                }
            }
             
        }
        .you{
           
            justify-content: flex-end;
            display: flex;
            
            .from{
                padding: 0.03rem 0.3rem 0.03rem 0.3rem;
                font-size: 0.4rem;
                font-weight: 700;
                color: white;
                background: $oc-yellow-6;
                border-radius: 3px;
                margin-right:5px; 
             
            }
            .date{
                font-size: 0.5rem;
                color: $oc-blue-8;
            }
            .check{
                font-size: 0.6rem;
                font-weight: 600;
                color: $oc-yellow-6;
                margin-left: 5px;
                margin-right:20px; 
            }
        }
        .them{
            .from{
                padding: 0.03rem 0.3rem 0.03rem 0.3rem;
                font-size: 0.4rem;
                font-weight: 700;
                color: white;
                margin-left:20px; 
                margin-right:5px; 
                background: $oc-yellow-6;
                border-radius: 3px;
                
            }
            .date{
                font-size: 0.5rem;
                color: $oc-blue-8;
               
            }
            .check{
                font-size: 0.6rem;
                font-weight: 700;
                color: $oc-yellow-5;
                margin-left: 5px;
            }
        }


    }
        
    }


    
    .comment-form{
        height: 60px;
		background:  $oc-gray-6;
		display: flex;
		align-items: center;
		box-sizing: border-box;
        padding: 0 10px 0 10px;
        .submit-text{
            flex: 1 0 auto;
            width: 180px;
			border-radius: 44px;
			height: 40px;
			box-sizing: border-box;
			border: 0;
			padding: 0 20px;
			color: black;
			
			font-size: 14px;
			font-weight: 400;
			outline: none;
            
        }
        .submit-btn{
            background: $oc-blue-6;
			height: 40px;
			color: white;
			font-size: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			border: 0;
			border-radius: 50px;
			margin-left: 10px;
            
        }
        
    }
}