@import '../../../../styles/utils.scss';




.attachment{
  flex:1;
  display:flex;
  flex-direction: column;
  

  .list{
   // flex:0.9;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    //align-content: space-around;
      .fileItem{
        flex: 1;
        width:6rem;
        height: 6rem;
        margin: 1rem;  

        display :flex;
        flex-direction:column;
        align-items: center;
        //justify-content: center;

          .ItemDelete{
            flex:0.01;
            width: 1vw;
            margin-left:auto; 
            margin-bottom: auto;
            cursor: pointer;
          }
          .fileImage{
            flex:0.99;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor : pointer;
              .img{
                flex:0.9;
                width : 5vw;
                border-radius: 10px;
                padding-top:.3rem;
              }
              .label{
                flex: 0.1;
                display: -webkit-box;
                max-width: 90px;
                text-align: center;
                color:#233A3F;
                font-size : 0.8rem;
                //word-break: keep-all;
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: normal !important;
                min-height: 1.2rem;
                &:hover{
                  word-wrap:break-word; 
                  white-space:pre-wrap;
                  word-break : break-all;
                  overflow: unset;
                  max-height: 2rem;
                  margin-bottom: 2rem;
                }
              }
        }

      }
  }

}
