@import '../../../styles/utils.scss';


.context{
    flex: 1;
    height: calc(100vh - 4rem); 
    overflow-y: auto;
    background: $oc-gray-2;
    display: flex;
    flex-direction: column;
    .system{
        flex:0.1;
        background: $oc-gray-4;
        width : 52rem;
        margin: 2rem;
        font-size : 1.5em;
    }

    .notice{ 
        display: flex;
        flex-direction: column;
        .directory{
            display: flex;
            margin-left: 2rem;
            .folder{
                min-width : 30rem;
            }
            .comment{
                overflow-y: auto;
                margin: 2rem;
                min-width : 20rem;
                margin-left: 2rem;
            }     
        }
        .note{
            margin-left: 2rem;
            width : 52rem;
        }
           
    }
}