@import '../../../styles/utils.scss';


.context{
    flex: 1;
    height: calc(100vh - 4rem); 
    overflow-y: auto;
    background: $oc-gray-2;
    display: flex;
    flex-direction: column;
    .system{

        flex:0.1;
        background: $oc-gray-4;
        margin: 2rem;
    }

    .notice{
        flex:0.9;
        display: flex;
        .comment{
            flex:1;
            height: 30rem;
            overflow-y: auto;
            margin: 2rem;
        }
        .directory{
            flex:1;
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
            .folder{
                flex:1;
               
            }
            .note{
                flex:1;
                
            }
        }
       
    }
}